body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(151, 151, 151);
}

h1 {
    font-size: 66px;
    font-weight: 100;
    line-height: 80px;
    font-family: 'Orelega One', cursive;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.btn {
    font-size: 14px;
    padding: 15px 46px;
    border-radius: 2px;
    display: inline-block;
}

.btn-blanco {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
}

.btn-blanco:hover {
    color: #000000;
}

.btn-negro:hover {
    color: #ffffff;
}

.btn-negro {
    background-color: #000000;
    color: #ffffff;
    border: #000000;
}

.btn i {
    font-size: 14px;
    margin-left: 5px;
}

.boton {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

section {
    padding: 120px 0;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 60px;
}

#hero {
    background-image: url(img/portafa.jpg);
    background-size: cover;
    padding-top: 300px;
    min-height: 700px;
    color: rgb(250, 250, 250);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.lista {
    margin-top: 80px;
}

.footer-style {
    padding-top: 50px;
    background-color: #000000;
}

footer {
    color: white;
}

footer h3 {
    margin-bottom: 30px;
    font-weight: 800;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #000000;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000000;
}

@media (min-width: 576px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
    .disciplinas-details {
        font-size: 40px;
        line-height: normal;
    }
    .planes {
        min-width: unset;
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .planes {
        min-width: unset;
        padding: 40px 20px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}